#home {
  .welcome {
    text-align: center;
    font-size: 250%;
    padding-top: 5%;
  }

  img {
    display: inline;
    max-width: 100%;
  }

  hr {
    border-color: $borderColor2;
    background-color: $borderColor2;
    height: 1px;
  }
}
