#squirrel-map {
  margin: 1% 10% 1% 10%;
  color: $borderColor2;
}

.angular-google-map-container {
  height: 700px;
  width: 90%;
  margin: auto;
}

.report-a-squirrel {
  // background-color: $color;
  background-color: rgba(255, 255, 255, .5);
  margin: 2%;
  padding: 2%;
  border: solid $borderColor2;


  input {
    width: 40%;
  }

  img {
    display: inline;
    // float: right;
    width: 10%;
    margin-right: 5%;
    margin-top: 1%;
  }

  h3 {
    text-align: center;
  }

}
