@import 'colors';

body {
  color: $color;
  background-image: url('../assets/starry-sky.png')
}

main {
  top: 300px;
}

section {
  border: solid $borderColor;
  background-color: rgba(255, 255, 255, .5);
  margin-top: 2%;
}


.nav-button {
  border: solid $borderColor;
}
