#nav-menu {
  position: fixed;
  margin: 0% auto;
  width: 60%;
  left: 20%;
  height: 200px;
  background-image: url('../assets/bone-menu.png');
  background-property: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
