<section id="bio" class="seven columns offset-by-one">
  <div class="row">
    <span class="six columns">
      <img style="display:inline" src="../assets/pics/hildaa.jpeg"/>
    </span>
    <span class="six columns welcome highlight-box">
      <p>bark, my name is hilda</p>

      <p>i like to play and chase squirrels</p>

      <p>i was adopted from <a href="http://www.seattle.gov/animalshelter/" target="_blank">seattle animal shelter</a> on january 10th 2016</p>

      <p>i am over the legal age for squirrel <a href="/#/squirrel-report">!</a></p>

      <p>plz.respect my space</p>

    </span>
  </div>
</section>

<side-bar></side-bar>
