<section id="home" class="seven columns offset-by-one">
  <div class="row">
    <span class="six columns">
      <img style="display:inline" src="../assets/pics/hildaa.jpeg"/>
    </span>
    <span class="six columns welcome highlight-box">
        /\ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; /\ </br>
       / &nbsp; \ ___ / &nbsp; \ </br>
      |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<big>H</big>ope&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| </br>
      <big>I</big>ndependence</br>
      <big>L</big>ove</br>
      <big>D</big>estroyer</br>
      <big>A</big>ttitude
    </span>
  </div>
</section>

<side-bar/>
