<div class="toy highlight-box">
  <h2><img data-ng-if="$ctrl.toy.iconSrc!=undefined" src="{{$ctrl.toy.iconSrc}}" style="max-width:8%"></img><img data-ng-if="$ctrl.toy.iconSrc!=undefined" src="{{$ctrl.toy.iconSrc}}" style="max-width:8%"></img><img data-ng-if="$ctrl.toy.iconSrc!=undefined" src="{{$ctrl.toy.iconSrc}}" style="max-width:8%"></img>{{$ctrl.toy.name}}<img data-ng-if="$ctrl.toy.iconSrc!=undefined" src="{{$ctrl.toy.iconSrc}}" style="max-width:8%"></img><img data-ng-if="$ctrl.toy.iconSrc!=undefined" src="{{$ctrl.toy.iconSrc}}" style="max-width:8%"></img><img data-ng-if="$ctrl.toy.iconSrc!=undefined" src="{{$ctrl.toy.iconSrc}}" style="max-width:8%"></img></h2>
  <img src="{{$ctrl.toy.imgSrc}}"></img>
  <p>{{$ctrl.toy.bio}}</p>
</div>
